@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');




*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    
    font-family: 'Poppins', sans-serif;

    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container{
    display: flex;
    width: 90vw;
}
.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: white;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.7s ease-in;
}
.panel h3{
    font-size: 24px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}

.panel.active{
    flex: 5;
}
 .panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
 }

@media (max-width: 515px) {
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}

h2{
    color: teal;
    font-size: 32px;
    margin: 10px;

    display: inline-block;
    background-color: aquamarine;
    padding: 2px 3px 1px 4px;
    border-radius: 5px;
    background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);

}   



































